<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corona Social</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="background-color: #e3f2fd;"
      >
        <a class="navbar-brand" href="#">Corona Social</a>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Stories Wall</a>
          <a class="nav-item nav-link" href="/me">Personal Wall</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-item btn btn-outline-danger" id="logout">Log out</a>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1 id="greeting"></h1>
      <button id="toggle-sort">Toggle sort</button>
      <p id="sort-text">Sorting by latest</p>
      <div class="stories"></div>
    </div>
    <script type="module" src="/js/index.js"></script>
  </body>
  <script src="http://localhost/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</html>
