<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Social</title>
</head>
<body>
    <div id="container">
        <header>
            <button id="logout">Logout</button>
            <ul>
                <li><a href="/">Stories Wall</a></li>
                <li><a href="/me">Personal Wall</a></li>
            </ul>
        </header>
        <div id="create">
            <form id="createstory">
                <textarea rows="10" cols="100" name="text" id="text" placeholder="Your story"></textarea>
                <button type="submit">Post</button>
            </form>
        </div>
        <div id="stories">
            <div class="story">
                <h1>Test story</h1>
                <small>by admin</small>
                <p>This is the body</p>
                <p>3 likes</p>
            </div>
            <div class="story">
                <h1>Test story</h1>
                <small>by admin</small>
                <p>This is the body</p>
                <p>6 likes</p>
            </div>
            <div class="story">
                <h1>Test story</h1>
                <small>by admin</small>
                <p>This is the body</p>
                <p>3 likes</p>
            </div>
            <div class="story">
                <h1>Test story</h1>
                <small>by admin</small>
                <p>This is the body</p>
                <p>5 likes</p>
            </div>
        </div>
    </div>
    <!-- <script src="/js/main.js"></script> -->
</body>
</html>