body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.stories {
  margin-top: 1em;
}

.story {
  margin-bottom: 1em;
}

.create {
  margin-top: 1em;
}

.login {
  margin-top: 1em;
}

.main {
  margin-top: 1em;
}

.image-padding {
  padding: 5px;
  padding-bottom: 15px
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 400px;
  border-radius: 2px;
  border: 1px solid lightgray;
}