body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.stories {
  margin-top: 1em;
}

.story {
  margin-bottom: 1em;
}

.create {
  margin-top: 1em;
}

.login {
  margin-top: 1em;
}

.main {
  margin-top: 1em;
}